mat-form-field {
    width: 100%;
}
.form-heading {
    text-align: center;
    font-size: 30px;
    font-weight: 400;
}
.dialog-button {
    padding: 0 25px 20px;
    button {
    flex: 1;
    }
}
.form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
