.example-spacer {
    flex: 1 1 auto;
}
.container {
    max-width: 80%;
    margin: 0 auto;
}
.container-filter {
    width: 100%;
    margin-top: 20px;
}
.mat-sort-header {
    font-size: medium;
    font-weight: 600;
}